@{
    ViewData["Title"] = "About";
}

<style>

    .paragraph{
        text-align:center;
    }
</style>

<div >
    <section class="about">
        <h1>@ViewBag.Title</h1>

        <p class="paragraph">

            Born in Guadalajara Jalisco, Mexico, Sesai "Metta" Parra is a thriving self-taught artist, skateboarder, traveller and entrepreneur. Unable to skate due to an injury --- combined with a heavy influence by Carl Jung, Metta picked-up a paint brush and created his first mandala in 2011. Since then mandalas have been a therapeutic part of Metta’s self-healing process. Metta didn’t intend to sell his artwork as it is sacred expressions of his inner journey.
            However, the response Metta received from strangers, friends and family alike motivated him to continue sharing his journey of self-awareness through painting.

            Metta’s art is the physical expression of his inner-quest and self-healing through the use of mandalas, symbols and vibrant hues. Metta’s mandalas radiate a genuine frequency of harmony. His art work can best be experience through 3-D glasses.
            <br />

            <br />


            Metta will continue expanding his brand and breaking ceilings as a creative force. In the long-run Metta would like to see his art travel the world and perhaps install a permanent collection in a cultural gallery.
            In the meantime, Metta is in the process of bringing his talent, skill and time to at-risk youth and his local community.
            <br />

            Become a sustainer by donating directly to artist Metta.
        </p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paragraph">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="PRK9CEHTLTM9Y">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
        </form>

        <br />

        <p class="paragraph">•●May all beings be happy●•</p>


        <img src="~/img/sessai_1.jpg"
             style="align-content:center;
                        height: 400px;
                        width: 400px;
                        margin-top: 100px;
                        margin-bottom: 100px;
                        margin-right: 150px;
                         margin-left: 180px;" />




    </section>
</div>