@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shop";
}

<br />
<br />
<br />


<div>

    <section class="shop">



        <h3> Metta’s work is now available on canvas, skateboards, t-shirts, stickers, yoga mats and necklaces. </h3>

        <p>
            <a href="https://www.etsy.com/shop/mandoesdala" class="btn btn-success">Etsy</a>
        </p>


        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                
                <th>Pendants Mandala</th>
                    
                </tr>
            </thead>


            <tbody>
                <tr class="success">
                    
                    <td> <img src="~/img/neckllace2.jpg" /></td>
                    <td> <img src="~/img/necklace.jpg" /></td>
                   
                </tr>


            </tbody>

           

        </table>
        <br />
        <br />

        <h3>
            Inktale allows you to choose an art templates to design your own item such as t-shirts, mugs, phone cases and more! A limited edition of women’s clothing line will include leggings and pencil skirts.
        </h3>
        <br />
        <p>
     
            <a href="https://www.inktale.com/artistmetta" class="btn btn-success">Inktale</a>
        </p>



        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                   
                    <th>Unisex Clothing</th>
                    <th>T-shirts</th>
                    <th>Mugs</th>
                    <th>Phone Cases</th>
                </tr>
            </thead>


            <tbody>
                <tr class="success">
                    
                    <td> <img src="~/img/03a15fb89b236b4cb4935a43d12aad8b_60352052a815a_l[1].jpg" /></td>
                    <td> <img src="~/img/18f330b293008c3cf812d7896efabded_603476707ba4b_l[1].jpg" /></td>
                    <td> <img src="~/img/2ca3d034b8b1cbf121a4929cfebbdb7e_6053840b8a9cc_l[1].jpg" /></td>
                    <td>  <img src="~/img/49d9805e1d6ceda9557cad1b0d360cfa_61722395097ef_l[1].jpg" /></td>
                </tr>


            </tbody>
        </table>


    </section>










</div>