body {
    padding-top: 150px;
    padding-bottom: 20px;

   
}

.body-content {
    padding-left: 15px;
    padding-right: 15px; 
  
    
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color: black;
}

.carousel-inner .item img[src$=".svg"] {
    width: 20%;
    height: 10%;
}




#qrCode {
    margin: 15px
}

@media screen and (max-width:767px) {
    .carousel-caption {
        display: none
    }
}

.style11 {
    height: 4px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}




.contact {
    margin: 100px 150px 100px 80px;
}

.about {
    margin: 100px 150px 100px 80px;
}


.navbar-brand {
    text-indent: -150px;
    background: url('../img/mandala1 - Copy.jpeg');
    width: 113px;
    height: 101px;
    border-radius: 50%;
   
}

navbar navbar-inverse navbar-fixed-top {
    
    vertical-align: baseline;
   
}

.shop {
    width: 890px;
    margin: 0 auto;
    background-color: lightblue;

    padding:
    30px 30px 30px 30px;
                
}

.about {
    width: 890px;
    margin: 0 auto;
    background-color: lightblue;
    padding: 30px 30px 30px 30px;
}


.contact {
    width: 890px;
    margin: 0 auto;
    background-color: lightblue;
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;

}
.carousel slide {
    position: center;
}
.item active {

    position: center;
    align-content:center;

}